body{
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

video{
  object-fit: contain;
}
/*@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}*/

.videocontrol{
  position: relative;
    margin-top: 3rem;
    font-family: ProximaNova-Bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .8px;
    line-height: normal;
    border: 1px solid #d3b365;
    border-radius: 10rem;
    padding: 1.1rem 1.3rem;
    cursor: pointer;
    transition: color 1s,background-color 1s;
     outline: 0;

}
.videocontrol:before{
      content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 135%;
    height: 160%;
    opacity: .36;
    border: 1px solid #d3b365;
    border-radius: 100px;
}
.activate{
  position: relative;
  margin-top: 30%;
  left:48%;
}
.videocontrol:hover{
  background:#d3b365;
}
#Wrapper{
  display: none;
}